$backgroundColor: #87CEEB;
$cardColor: #D4E4F7;
$textColor: #000000;
$boxShadowColor: #2369B8;
$buttonColor: #FD7208;


.thumbnail {
    width: 250px;
    height: 250px;
}

.background {
    background-color: #87CEEB; 
}